* {
    margin: 0;
    padding: 0;
}
body {
    background: url("../images/grey_wash_wall.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#scores {
    background: none repeat scroll 0 0 #fff;
    font-size: 2em;
    height: 100%;
    text-align: center;
    width: 100%;
}
#kabal {
    float: left;
    margin: 0 0 0 15%;
}
#kratos {
    float: left;
    margin: 0 0 0 40%;
}
#kabal p {
    font-family: arial;
    font-size: 25px;
}
#kratos p {
    font-family: arial;
    font-size: 25px;
}
#fight_btn {
    margin: 30% 44%;
    position: absolute;
    z-index: 25;
}
#fight_bg {
    background-size: cover;
    position: fixed;
    z-index: 10;
}
#fight_bg img {
    height: 100%;
    width: 100%;
}
.heading {
    color: #1c80b3;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 21px;
}
.buttonblue {
    background: -moz-linear-gradient(center top , #f20521 5%, #ba0419 100%) repeat scroll 0 0 #1b7fb3;
    border: 1px solid #ba0419;
    border-radius: 1px;
    box-shadow: 0 1px 0 0 #f20521 inset;
    color: #ffffff !important;
    display: inline-block;
    font-family: "Open Sans",arial;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 25px;
    text-decoration: none;
}
.buttonblue:hover {
    background: -moz-linear-gradient(center top , #ba0419 5%, #f20521 100%) repeat scroll 0 0 #ba0419;
    text-decoration: none !important;
}
.buttonblue:active {
    position: relative;
    top: 1px;
}
#round_number input {
    width: 113px;
}
.clear {
    clear: both;
}
